<div *ngIf="response">
    <table class="info-table">
        <tr>
            <td>UID: </td>
            <td>{{response.sourceCodeUid}}</td>
        </tr>
        <tr>
            <td>Is valid:</td>
            <td>{{response.sourceCodeValid}}</td>
        </tr>
        <tr>
            <td>Type: </td>
            <td>{{response.sourceCodeType}}</td>
        </tr>
    </table>
    <br>
    <table class="state-table">
        <thead>
            <tr>
                <td></td>
                <td *ngFor="let elem of response.header">
                    <div>{{elem.process}}</div>
                    <div>{{elem.functionCode}}</div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of response.lines">
                <td>{{row.context}}</td>
                <td *ngFor="let cell of row.cells">
                    <div *ngIf="!cell.empty">
                        <div>{{cell.taskId}}</div>
                        <div>{{cell.state}}</div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>