<mat-tab-group #matTabGroup mat-stretch-tabs dynamicHeight (selectedIndexChange)="tabChange()">
    <mat-tab label="CURRENT"><br />

        <app-ct-section *ngIf="sourceCodesResult">
            <app-ct-section-header>
                <app-ct-section-header-row>
                    <app-ct-flex justify-content="space-between">
                        <app-ct-flex-item>
                            <app-ct-flex justify-content="flex-start" gap="8px">
                                <app-ct-heading>Source Codes</app-ct-heading>
                            </app-ct-flex>
                        </app-ct-flex-item>
                        <app-ct-flex-item *ngIf="!dispatcherAssetModeService.isReplicated(sourceCodesResult.assetMode)">
                            <ng-container *ngTemplateOutlet="addSourceCodeButtonTemplate"></ng-container>
                        </app-ct-flex-item>
                    </app-ct-flex>
                </app-ct-section-header-row>

                <app-ct-section-header-row *ngIf="dispatcherAssetModeService.isReplicated(sourceCodesResult.assetMode)">
                    <app-ct-alert theme="info">Creation of sourceCodes is disabled, assetMode is 'replicated'. </app-ct-alert>
                </app-ct-section-header-row>
            </app-ct-section-header>

            <app-ct-section-body>
                <app-ct-section-body-row>
                    <ng-container *ngTemplateOutlet="mainTableTemplate"></ng-container>
                </app-ct-section-body-row>
            </app-ct-section-body>

            <app-ct-section-footer>
                <app-ct-section-footer-row>
                    <app-ct-flex justify-content="space-between">
                        <app-ct-flex-item>
                            <app-ct-table-pagination [pageableDefault]="sourceCodesResult?.items" [globalDisable]="isLoading" (next)="nextPage()" (prev)="prevPage()">
                            </app-ct-table-pagination>
                        </app-ct-flex-item>
                        <app-ct-flex-item *ngIf="!dispatcherAssetModeService.isReplicated(sourceCodesResult.assetMode)">
                            <ng-container *ngTemplateOutlet="addSourceCodeButtonTemplate"></ng-container>
                        </app-ct-flex-item>
                    </app-ct-flex>
                </app-ct-section-footer-row>
            </app-ct-section-footer>
        </app-ct-section>
    </mat-tab>


    <mat-tab label="ARCHIVE"><br />
        <app-source-codes-archive #sourceCodesArchive></app-source-codes-archive>
    </mat-tab>
</mat-tab-group>




<ng-template #mainTableTemplate>
    <ct-table [isWaiting]="isLoading">
        <table class="mat-table" mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Id </th>
                <td mat-cell *matCellDef="let el">{{el.id}} </td>
            </ng-container>
            <ng-container matColumnDef="uid">
                <th mat-header-cell *matHeaderCellDef>UID of sourceCode</th>
                <td mat-cell *matCellDef="let el">{{el.uid}} </td>
            </ng-container>
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let el">{{getType(el.uid)}} </td>
            </ng-container>
            <ng-container matColumnDef="createdOn">
                <th mat-header-cell *matHeaderCellDef> Created on </th>
                <td mat-cell *matCellDef="let el">
                    {{el.createdOn | date:'MMM d, yyyy, HH:mm:ss'}} </td>
            </ng-container>
            <ng-container matColumnDef="valid">
                <th mat-header-cell *matHeaderCellDef>Is valid? </th>
                <td mat-cell *matCellDef="let el">{{el.valid}} </td>
            </ng-container>
            <ng-container matColumnDef="bts">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let el">
                    <app-ct-flex justify-content="flex-end" gap="9px">
                        <app-ct-flex-item>
                            <button mat-flat-button="mat-flat-button" size="forTableRow" color="primary" [routerLink]="[el.id,'view']" title="View">View</button>
                        </app-ct-flex-item>
                        <app-ct-flex-item>
                            <button mat-flat-button="mat-flat-button" size="forTableRow" color="primary" [routerLink]="[el.id,'exec-contexts']">Exec Contexts</button>
                        </app-ct-flex-item>
                        <app-ct-flex-item *ngIf="!dispatcherAssetModeService.isReplicated(sourceCodesResult.assetMode)">
                            <button mat-flat-button="mat-flat-button" size="forTableRow" [disabled]="el.locked" color="warn" (click)="archive(el)" title="Archive">To Archive</button>
                        </app-ct-flex-item>
                        <app-ct-flex-item *ngIf="!dispatcherAssetModeService.isReplicated(sourceCodesResult.assetMode)">
                            <button mat-flat-button="mat-flat-button" size="forTableRow" color="warn" (click)="delete(el)" title="Delete">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </app-ct-flex-item>
                    </app-ct-flex>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"> </tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" [class.deleted-table-row]="deletedSourceCodes.includes(row) || archivedSourceCodes.includes(row)">
            </tr>
        </table>
    </ct-table>
</ng-template>






<ng-template #addSourceCodeButtonTemplate>
    <button mat-flat-button="mat-flat-button" color="primary" routerLink="add">Add Source Code</button>
</ng-template>