@import '../source-codes.sass';

.info-table {
    td {
        padding-right: unit(2);
    }
}

.state-table {

    border-collapse: collapse;

    td {
        vertical-align: top;
        white-space: nowrap;
        padding: unit(0.75) unit(1);
        font-size: 80%;
        line-height: 1.2;
    }
    thead {
        td{
            border-bottom: 1px solid rgba(128,128,128,0.66);
        }
    }
    tbody {
        td{
            border-bottom: 1px solid rgba(128,128,128,0.33);
        }
    }
}