
<app-ct-content>
  <app-ct-cols>
    <app-ct-col size="1"></app-ct-col>
    <app-ct-col size="10">
      <app-ct-section>
        <app-ct-section-header>
          <app-ct-section-header-row>
            <app-ct-heading>About MHBP</app-ct-heading>
          </app-ct-section-header-row>
        </app-ct-section-header>
        <app-ct-section-body>
          <app-ct-section-body-row>
            <b>Metaheuristic behavior platform</b><p>Metaheuristic behavior platform is a SaaS for continuous evaluating and assessing quality of LLMs.</p>
            <ul><li>
            <p>Evaluating and assessing quality</p>
            MHBP is scheduling requests to LLM and execute such requests. Collect the answers to prompt and evaluate them.
            </li>
            <li>
              <p>Decisions which are based on the result of evaluation.</p>
              Based on the result of evaluating and assessing MHBP can create triggers, events, or call API to inform 3rd parties, if quality of tested LLM was degraded.
              </li>
            </ul>
          </app-ct-section-body-row>
        </app-ct-section-body>
      </app-ct-section>
    </app-ct-col>
  </app-ct-cols>
</app-ct-content>