<app-ct-section>
    <app-ct-section-header>
        <app-ct-section-header-row>
            <app-ct-heading>Create global variable from file</app-ct-heading>
        </app-ct-section-header-row>
    </app-ct-section-header>
    <app-ct-section-body>
        <form [formGroup]="form" novalidate="novalidate">
            <app-ct-section-body-row>
                <app-ct-file-upload #fileUpload></app-ct-file-upload>
                <div class="mat-form-field mat-form-field-appearance-outline" style="width:100%">
                    <div class="mat-form-field-subscript-wrapper">
                        <mat-hint>This is a required field.</mat-hint>
                    </div>
                </div>
            </app-ct-section-body-row>
            <app-ct-section-body-row>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Variable</mat-label>
                    <input autocomplete="off" matInput="matInput" formControlName="poolCode" />
                    <mat-hint>This is a required field.</mat-hint>
                </mat-form-field>
            </app-ct-section-body-row>
        </form>
    </app-ct-section-body>
    <app-ct-section-footer>
        <app-ct-section-footer-row>
            <app-ct-flex justify-content="flex-end" gap="8px">
                <app-ct-flex-item>
                    <button mat-stroked-button (click)="cancel()">Cancel</button>
                </app-ct-flex-item>
                <app-ct-flex-item>
                    <button mat-flat-button="mat-flat-button" (click)="upload()" color="primary"
                        [disabled]="checkDisable()">Create</button>
                </app-ct-flex-item>
            </app-ct-flex>
        </app-ct-section-footer-row>
    </app-ct-section-footer>
</app-ct-section>