
<app-ct-section>
  <form action="" [formGroup]="form" novalidate="novalidate" autocomplete="off">
    <app-ct-section-header>
      <app-ct-section-header-row>
        <app-ct-heading>Sign In</app-ct-heading>
      </app-ct-section-header-row>
    </app-ct-section-header>
    <app-ct-section-body>
      <app-ct-section-body-row>
        <app-ct-section-content>
          <mat-form-field appearance="outline" style=" margin-bottom: -1.34375em">
            <mat-label>Name</mat-label>
            <input matInput="matInput" formControlName="username" autocomplete="off"/>
          </mat-form-field>
        </app-ct-section-content>
      </app-ct-section-body-row>
      <app-ct-section-body-row>
        <app-ct-section-content>
          <mat-form-field appearance="outline" style=" margin-bottom: -1.34375em">
            <mat-label>Password</mat-label>
            <input matInput="matInput" type="password" autocomplete="off" formControlName="password"/>
          </mat-form-field>
        </app-ct-section-content>
      </app-ct-section-body-row>
    </app-ct-section-body>
    <app-ct-section-footer>
      <app-ct-section-footer-row>
        <app-ct-flex justify-content="space-between" gap="8px" align-items="center">
          <app-ct-flex-item>
            <button class="mat-flat-button" mat-button="" (click)="login()" color="primary" title="">Sign In</button>
          </app-ct-flex-item>
        </app-ct-flex>
      </app-ct-section-footer-row>
    </app-ct-section-footer>
  </form>
</app-ct-section>