<mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="sidenavOpened">
        <div class="navigation">
            <button class="mat-button" mat-button routerLinkActive="active"
                routerLink="/ai/experiments">{{ 'ai.Experiments' | translate }}</button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-ct-content>
            <router-outlet></router-outlet>
            <app-ct-back-button></app-ct-back-button>
            <app-copy-right></app-copy-right>
        </app-ct-content>
    </mat-sidenav-content>
</mat-sidenav-container>