@import "../company.sass";

mat-checkbox {
    position: relative
}

.check-area {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    background-color: rgba(0, 0, 0, 0);
}

.selected-color {
    background-color: $color-table-row-selected;
}

.selected-count {
    background: $color-table-row-selected;
    border-radius: 4px;
    padding: 10px 20px 8px;
}